@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

.navfont {
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Saira:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Saira', sans-serif;
}

.saria {
    font-family: 'Saira';
}

.inputcontact {

    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;

    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 36px;



}

.inputcontact:focus {
    border-color: #6200ee;
    border-bottom: 1px solid;
}

.inputcontact :hover {
    border-bottom-color: rgba(0, 0, 0, .87);
    background: #ececec;
}

/* .cardStyle {
    display: grid !important;
    grid-template-columns: repeat(1fr, 1fr);
} */
.ul {
    list-style: disc !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}

.experts-card {
    transition: 0.5s;
    margin-bottom: 25px;
}

.expert-social {

    height: 100%;
    padding: 25px 20px;
    align-items: end;
    justify-content: center;
    /* background: linear-gradient(0deg, hsla(33, 100%, 53%, 1) 0%, rgb(212, 255, 227) 100%); */
    /* background: linear-gradient(176.24deg, rgba(29, 29, 29, 0) 10.39%, rgba(255, 147, 15, 1) 86%); */
    background: linear-gradient(176.24deg, rgba(29, 29, 29, 0) 10.39%, #1D1D1D 90.62%);
    /* transform: scaleY(0);
    transform-origin: bottom; */
    opacity: 0;
    transition: 1.2s;


}

.expert-social:hover {
    opacity: 50%;
}

.footer {
    background-image: url(../assets/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}

.spinner {

    border-radius: 50%;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}